.match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
    border-radius: 10px;
    transition: .2s linear;
    min-height: 120px;
    background-color: var(--color-background-darker);
    margin-bottom: 1rem;
}

.match-card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px -10px #000000;
}

.game-status,
.status-container,
.championship-container,
.game-info,
.first-team-container,
.second-team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-status {
    width: 99%;
    margin: 1rem 0 .5rem 0;
}

.status-container {
    width: 5rem;
    margin-left: 1rem;
    color: #FF0000;
}

.championship-container {
    width: 16rem;
    margin-right: 1rem;
}

.game-info {
    width: 98%;
    height: 8rem;
    margin: .2rem 0 .8rem 0;
    background-color: var(--color-background);
    border-radius: 10px;
}

.first-team-container {
    width: 30vw;
    margin-left: 1rem;
}

.first-team-container img {
    width: 8rem;
}

.match-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--color-background-darker);
    border-radius: 50%;
}

.second-team-container {
    width: 30vw;
}

.second-team-container img {
    width: 9rem;
}

@media (min-width: 700px) {
    .match-type {
        width: 6rem;
        height: 6rem;
    }
    .second-team-container {
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .match-card {
        opacity: .9;
    }
}