.game-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    transition: .2s linear;
}

.game-button:hover {
    box-shadow: 0 10px 20px -10px #000000;
}