.page-header {
    display: flex;
    flex-direction: column;
    width: 99vw;
    background-color: var(--color-background-darker);
    border-radius: 10px;
    transition: all .2s linear;
}

.top-bar-container {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.side-bar-icon {
    display: flex;
    font-size: 4rem;
    color: #ffffff;
    margin-left: 2rem;
    transition: all .2s linear;
}

.side-bar-icon:hover {
    transform: scale(1.1);
}

.side-bar-menu {
    position: fixed;
    width: 20rem;
    height: 27rem;
    top: +7rem;
    left: -100%;
    z-index: 1;
    border-right: 1px #000000 solid;
    border-bottom: 1px #000000 solid;
    border-radius: 10px;
    background: var(--color-background-darker);
    transition: all .2s linear;
}

.side-bar-menu.active {
    left: .5%;
    transition: all .2s linear;
}

.side-bar-menu ul li {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 1.5rem;
    border-bottom: 1px #cfcfcf solid;
}

.side-bar-menu-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 26rem;
}

.logo-container img {
    display: flex;
    align-items: center;
    width: 10rem;
    transition: all .2s linear;
}

.logo-container img:hover {
    transform: scale(1.1);
}

.logo-container-img img {
    width: 100%;
}

.logo-container-title {
    font-weight: 500;
}

.top-bar-menu {
    display: none
}

.animated-text {
    background: linear-gradient( to right, var(--color-text) 50%, var(--color-primary) 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease-out;
}

.animated-text:hover {
    background-position: -100%;
}

@media (min-width: 1200px) {
    .page-header {
        opacity: .9;
    }
    .side-bar-icon {
        display: none;
    }
    .side-bar-menu {
        display: none;
    }
    .logo-container {
        width: 25rem;
    }
    .top-bar-menu {
        display: flex;
        flex-direction: row;
    }
    .top-bar-menu-item {
        font-weight: 500;
        margin-left: 4rem;
    }
}