.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
}

.menu-items {
    display: flex;
    vertical-align: middle;
    white-space: nowrap;
    transition: all .2s linear;
}

.menu-left,
.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 3rem;
    height: 11.5rem;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0;
    transition: all .2s linear;
}

.menu-left:hover,
.menu-right:hover {
    opacity: .7;
}

.menu-left {
    left: 0
}

.menu-right {
    right: 0;
}