.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
}

.menu-items {
    display: flex;
    vertical-align: middle;
    white-space: nowrap;
}